version: '3.8'
services:
  frontend:
    container_name: e-register-frontend
    build: ./e-register-frontend
    command: npm run dev
    ports:
      - 8080:3000
    environment:
      - DEVELOPMENT_BASE_URL=http://46.101.10.218:8082/graphql
      - PRODUCTION_BASE_URL=http://46.101.10.218:8082/graphql
    volumes:
      - ./e-register-frontend:/e-register-frontend
      - /e-register-frontend/node_modules
    
  backend:
    container_name: e-register-backend
    build: ./e-register-backend
    command: npm run start:dev
    ports:
      - 8082:5000
    environment:
      - DATABASE_URL=mongodb+srv://doadmin:5q04Nc9Kun3g267Z@db-mongodb-nyc1-88171-1a76ff67.mongo.ondigitalocean.com/FME?authSource=admin&replicaSet=db-mongodb-nyc1-88171&tls=true
      - HOST=smtp.gmail.com
      - PORT=465    
      - SECURE=true
      - EMAIL=hippyloan@gmail.com
      - PASSWORD=jpts xxqg egnb gzwq
      - NO_REPLY=noreply@gmail.com
      - SECRET=topsecret
      - SALT=10
      - FIRST_NAME=Henry
      - MIDDLE_NAME=Emeka
      - LAST_NAME=Obadoni
      - ADMIN_EMAIL=codewelldev@gmail.com
      - PHONE_NUMBER=08132644455
    volumes:
      - ./e-register-backend:/e-register-backend
      - /e-register-backend/node_modules
   
  # mongodb:
  #   image : mongo:latest
  #   container_name: mongodb
  #   volumes:
  #     - ./database:/data/db
  #   ports:
  #     - 27017:27017
  #   command: [--auth]
  #   environment:
  #     - MONGO_INITDB_ROOT_USERNAME=sampleTest
  #     - MONGO_INITDB_ROOT_PASSWORD=jediiry12345mongodb
   
 
 
   
  


   
