version: '3.8'
services:
  frontend:
    container_name: e-register-frontend
    build: ./e-register-frontend
    command: npm run dev
    ports:
      - "8082:3000"
    volumes:
      - ./e-register-frontend:/e-register-frontend
      - /e-register-frontend/node_modules
  backend:
    container_name: e-register-backend
    build: ./e-register-backend
    command: npm run start:dev
    depends_on:
      - mongodb
    ports:
      - "8081:3000"
    environment:
      - DATABASE_URL=mongodb://mongodb:27017/FME
    volumes:
      - ./e-register-backend:/e-register-backend
      - /e-register-backend/node_modules
  mongodb:
    image : mongo:latest
    container_name: mongodb
    volumes:
      - ./database:/data/db
    ports:
      - 27017:27017
  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "80:80"
      - "81:81"
      - "82:82"
      - "443:443"
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro


   
